@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";


@layer base {
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
      }
      body {
        width: 100%;
        background-color: black;
      }

      #root {
        width: 100%;
        display: flex;
        align-items: center;
      }
    }


@theme {
  --font-sc: "Carrois Gothic SC", system-ui, sans-serif;
  --font-play: "Playfair Display", serif;
}